body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 4px 32px;
    align-items: center;
}

.logo {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}